##  Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [14]:
# creational of one dimensional array is 
import numpy as np
import pandas as pd
OneDarray= np.random.randint(low= 10,high=100, size=8)
OneDarray

array([91, 12, 39, 31, 27, 27, 44, 27])

In [16]:
# creation of DataSeries from 1-D array
series = pd.Series(OneDarray)
series

0    91
1    12
2    39
3    31
4    27
5    27
6    44
7    27
dtype: int64

## Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [17]:
# From the above example
series
# this is a pandas series object

0    91
1    12
2    39
3    31
4    27
5    27
6    44
7    27
dtype: int64

In [18]:
# to convert pandas series object into python list object , we will use python built-in list function
list1 = list(series)
print("List : ", list1)
print("Type of the list1 object is : ", type(list1))

List :  [91, 12, 39, 31, 27, 27, 44, 27]
Type of the list1 object is :  <class 'list'>

## Write a Pandas program to add, subtract, multiple and divide two Pandas Series. 
- Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [19]:
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])

In [23]:
print("Addition : ", s1+s2, sep="\n")
print("\n\n")
print("Subtraction : ", s1-s2, sep="\n")
print("\n\n")
print("Multiplication : ", s1*s2, sep="\n")
print("\n\n")
print("Division : ", s1/s2, sep="\n")
print("\n\n")

Addition :
0     3
1     7
2    11
3    15
4    19
dtype: int64



Subtraction :
0    1
1    1
2    1
3    1
4    1
dtype: int64



Multiplication :
0     2
1    12
2    30
3    56
4    90
dtype: int64



Division :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## Write a Pandas program to compare the elements of the two Pandas Series.
- Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [27]:
s2 = pd.Series([1, 3, 5, 7, 10])
print("Series1 :  ", s1, sep="\n")
print("Series2 :  ", s2, sep="\n")

Series1 :
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2 :
0     1
1     3
2     5
3     7
4    10
dtype: int64

In [28]:
print("Comparing elements of the both series! ")
print("Equal Operation!")
print(s1==s2)

Comparing elements of the both series!
Equal Operation!
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [29]:
print("Greater Operation")
print(s1>s2)

Greater Operation
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [30]:
print("Smaller Operation")
print(s1<s2)

Smaller Operation
0    False
1    False
2    False
3    False
4    False
dtype: bool